<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}Trang chủ{% endblock %}
{% block contend %}
<div class="">
    <div class="container-lg">
        <div class="row">
            <!-- Các tin tức tâm điểm  -->
            <p class="p-0 m-0">Tiêu điểm</p>
            <marquee class="p-0 m-0 " behavior="scroll" direction="left" scrollamount="6">
                <p class="p-0 m-0 ">Chữ chạy trong HTML</p>
            </marquee>
            <div class=" responsive accordion gap-2 shadow m-2 rounded">
                <img class="img-responsive" src="https://via.placeholder.com/150" alt="">
                <div class="p-2">
                    <h3 class="">Tiêu đề</h3>
                    <p class="">Thời gian</p>
                    <h5 class="">nội dung</h5>
                </div>
            </div>
            <div class=" responsive accordion gap-2 shadow m-2 rounded">
                <img class="img-responsive" src="https://via.placeholder.com/150" alt="">
                <div class="p-2">
                    <h3 class="">Tiêu đề</h3>
                    <p class="">Thời gian</p>
                    <h5 class="">nội dung</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Các tin tức tâm điểm  -->
            <p class="p-0 m-0">Hoạt động</p>
            <div class=" ">
                <div class="responsive col d-flex accordion gap-2 shadow m-2 rounded">
                    <img class="" src="https://via.placeholder.com/300" alt="">
                    <div class="p-2 ">
                        <h3 class="">Tiêu đề</h3>
                        <p class="">Thời gian</p>
                        <h5 class="">nội dung</h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col ">
                    <div class="  d-flex flex-column accordion shadow m-2 p-2 rounded">
                        <img class="" src="https://via.placeholder.com/150" alt="">
                        <div class="p-2 d-flex flex-column align-items-start">
                            <h5 class="">Tiêu đề</h5>
                            <p class="">Thời gian</p>
                        </div>
                    </div>
                </div>
                <div class="col ">
                    <div class="  d-flex flex-column accordion shadow m-2 p-2 rounded">
                        <img class="" src="https://via.placeholder.com/150" alt="">
                        <div class="p-2 d-flex flex-column align-items-start">
                            <h5 class="">Tiêu đề</h5>
                            <p class="">Thời gian</p>
                        </div>
                    </div>
                </div>
                <div class="col ">
                    <div class="  d-flex flex-column accordion shadow m-2 p-2 rounded">
                        <img class="" src="https://via.placeholder.com/150" alt="">
                        <div class="p-2 d-flex flex-column align-items-start">
                            <h5 class="">Tiêu đề</h5>
                            <p class="">Thời gian</p>
                        </div>
                    </div>
                </div>
                <div class="col ">
                    <div class="  d-flex flex-column accordion shadow m-2 p-2 rounded">
                        <img class="" src="https://via.placeholder.com/150" alt="">
                        <div class="p-2 d-flex flex-column align-items-start">
                            <h5 class="">Tiêu đề</h5>
                            <p class="">Thời gian</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="  d-flex flex-column accordion shadow m-2 p-2 rounded">
                        <img class="" src="https://via.placeholder.com/150" alt="">
                        <div class="p-2 d-flex flex-column align-items-start">
                            <h5 class="">Tiêu đề</h5>
                            <p class="">Thời gian</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="  d-flex flex-column accordion shadow m-2 p-2 rounded">
                        <img class="" src="https://via.placeholder.com/150" alt="">
                        <div class="p-2 d-flex flex-column align-items-start">
                            <h5 class="">Tiêu đề</h5>
                            <p class="">Thời gian</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Các tin tức tâm điểm  -->
            <p class="p-0 m-0">Sinh viên 5 tốt</p>

            <div class="  d-flex ">
                <div class=" col-6 d-lg-flex responsive5 accordion gap-2 shadow m-2 rounded">
                    <img class="img-responsive" src="https://via.placeholder.com/150" alt="">
                    <div class="p-2">
                        <h3 class="">Tiêu đề</h3>
                        <p class="">Thời gian</p>
                        <h5 class="">nội dung</h5>
                        <button class="btn btn-outline-secondary w-100 h-25"> Chi tiết</button>
                    </div>
                </div>
                <div class="col-6 accordion gap-2 shadow m-2 rounded">
                    <div class="p-2">
                        <h3 class="">Tiêu đề</h3>
                        <p class="">Thời gian</p>
                        <h5 class="">nội dung</h5>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
{% endblock %}